<nav>
    <div class="nav-wrapper indigo darken-1">
      
      <!--<img src="../../../../assets/images/student/student.png" width="60px" height="60px">--><img src="../../../../assets/images/student/NEW-LOGO-crp.png" width="350px" height="60px">
      <ul class="right hide-on-med-and-down">
        <li><a href="#home">Home</a></li>
        <li><a [routerLink]="['/admin_dashboard']"><i class="material-icons">dashboard</i></a></li>
        
        <li><a href=""><i class="material-icons">settings</i></a></li>
        <li><a href=""><i class="material-icons">account_circle</i></a></li>
      </ul>
    </div>
</nav>



<div class="container">

<h3>Course Details</h3><br><br>
<div class="row">
    <form class="col s10" #courseDetailsForm="ngForm" (ngSubmit)="onSubmit(courseDetailsForm)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="courseDetailsService.selectedcourseDetails._id">
      <div class="row">
        <div class="input-field col s6">
            <input id="course" name="course" type="text" class="validate" #name="ngModel" [(ngModel)]="courseDetailsService.selectedcourseDetails.course">
            <label for="course">Course</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="duration" name="duration" type="text" class="validate" #name="ngModel" [(ngModel)]="courseDetailsService.selectedcourseDetails.duration">
          <label for="duration">Duration</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="regfee" name="regfee" type="text" class="validate" #name="ngModel" [(ngModel)]="courseDetailsService.selectedcourseDetails.regfee">
            <label for="regfee">registration Fee</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="totfee" name="totfee" type="text" class="validate" #name="ngModel" [(ngModel)]="courseDetailsService.selectedcourseDetails.totfee">
            <label for="totfee">Total Fee</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="insfee" name="insfee" type="text" class="validate" #name="ngModel" [(ngModel)]="courseDetailsService.selectedcourseDetails.insfee">
            <label for="insfee">Installation Fee</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="dayandtime" name="dayandtime" type="text" class="validate" #name="ngModel" [(ngModel)]="courseDetailsService.selectedcourseDetails.dayandtime">
            <label for="dayandtime">Day and Time</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="sdate" name="sdate" type="text" class="validate" #name="ngModel" [(ngModel)]="courseDetailsService.selectedcourseDetails.sdate">
            <label for="sdate">Starting Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="edate" name="edate" type="text" class="validate" #name="ngModel" [(ngModel)]="courseDetailsService.selectedcourseDetails.edate">
            <label for="edate">Ending Date</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
            <button class="btn btn-custom right" type="button" (click)="resetForm(courseDetailsForm)">Reset</button>
            <button class="btn btn-custom right" type="submit" [disabled]="!courseDetailsForm.valid">Submit</button>
          </div>
      </div>  
      
    </form>
</div>
      


<div class="row">
<div class="col s12">
  <div class="card-panel blue lighten-5">
      <div class="card-content black-text">
          <form action="#">
              <table>

                
              
                <tr>
                  
                  <th>Course</th>
                  <th>Duration</th>
                  <th>Registration Fee</th>
                  <th>Total Fee</th>
                  <th>Installation Fee</th>
                  <th>Day and Time</th>
                  <th>Starting Date</th>
                  <th>Ending date</th>
                </tr>
              
              <tr *ngFor="let cd of courseDetailsService.courseDetails">
                
                <td>{{cd.course}}</td>
                <td>{{cd.duartion}}</td>
                <td>{{cd.regfee}}</td>
                <td>{{cd.totfee}}</td>
                <td>{{cd.insfee}}</td>
                <td>{{cd.dayandtime}}</td>
                <td>{{cd.sdate}}</td>
                <td>{{cd.edate}}</td>
                
                
              </tr>
            </table>
            </form>
      
      </div>
  </div>
</div>


</div>

</div><!--container-->


<!-- Footer -->
<footer class="footer section indigo darken-3 white-text center">
<p class="flow-text">VICERANT IT Solutions &copy; 2018</p>
</footer>

